.body, .html{
  height: 100%;
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;


}

/************************************ NAVIGATION ***************************************************/
ul{
	
	display: block;
/* 	height: 100px; */
	
	width:100%;
	
	text-align: center;
	margin: 0;
	padding:0;

	list-style-type: none;
	
}

li{
	float: left;
	width: 33.33%;
	display: block;
	height: 100%;
	
	font-size: 40px;
	background-image: url("../../images/ocean.jpg");
	
}

li a{
	line-height: 100px;
	display: block;

}

li a:hover {
/* 	background-color: darkgray; */
background-image: url("../../images/roses.jpg");	
	
}
@media screen and (min-width: 0px) and (max-width: 641px){
	li{
		font-size: 25px;
	} 
}


@media screen and (min-width: 0) and (max-width: 960px){
	li{
		width: 100%;
		background-color: yellow;
		
	}
	
}

/******************************** END OF NAVIGATION **********************************************/

/******************************** FONTS/WRITTING *******************************************************/
h1{
	font-size: 30px;
}

h2{
	font-size: 50px;
	text-align: center;
	color: black;
	background-color: lightgray;
	box-sizing: content-box;
}

label{
		font-size: 40px;
		text-align: center;
		
}

.fullName{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}


.date{
	font-size: 40px;
}

textarea{
	height: 100px;
	width: 30%;
}

@media screen and (min-width: 0) and (max-width: 960px){
	h2{
		font-size: 30px;
		
	}
	
	.date{
		font-size: 20px;
	}
	
	label{
		font-size: 14px;
	}
	
}
/*************************************** END OF FONTS ****************************************/

/*************************************** SECTIONS *********************************************/
.whole_block{
  padding: .2%;
  display: block;
  width: 100%;
  height:100%;
}

.main_block{
  width: 100%;
  height: 100%;
  display: block;
	background-image: url("../../images/lakeboat.jpg");
	
	float: left;
  
}

.center_block{
	float: left;
	width: 100%;
	height: 100%;
	
}

.left_center_block, .right_center_block{
	width: 46%;
	height: 80%;
	display: block;
	float: left;
	margin: 30px;
}


.center_center_block{
	width: 97%;
	height: 100%;
	display: block;
	float: left;
	margin: 30px;
	
}

@media screen and (min-width: 0) and (max-width: 1024px){
	.whole_block{
		padding: 0;
	 
	}
	
	.left_center_block, .right_center_block, .center_center_block{
		width: 100%;
		margin: 0;
		
	} 
}

	@media screen and (min-width: 1025px) and (max-width: 1488px){
		.left_center_block, .right_center_block{
			margin: 2%;
			
			
		}
	}
	
@media screen and (min-width: 1488px) and (max-width: 1516px){
		.left_center_block, .right_center_block{
			margin: 0%;
			
			
		}
	}
	
	
	


/**************************************END OF SECTIONS******************************************/

/*****************************************TEXT BOXES********************************************/

.small_text_box{
	height: 300px;
	width: 50%;
	margin: 1%;
	display: block;
	background-color: white;
	float: left;
	font-size: 16px;
 	text-align: justify;

}

.medium_text_box{
	height: 300px;
	width: 98%;
	margin: 1%;
	display: block;
	background-color: white;
	border-style: double;

}

.large_text_box{
	width: 98%;
	margin: 1%;
	display: block;
	background-color: lightgray;
	box-sizing: content-box;
}

#update_box{
	height: 240px;
	width: 100%;
	display: block;
	
}

@media screen and (min-width: 0px) and (max-width: 641px){
	.small_text_box{
		width: 100%;
		margin: 0;
		height: 300px;
		font-size: 16px;
	}
	
/* 	.large_text_box{
		height: 1100px;
	} */
}

	
}

/******************************************END OF TEXT BOXES **************************************/

/****************************************** IMAGES **************************************/

.img_circle{
	border-radius: 50%;
	border-color: solid;
	margin: 0 auto;
	display: block;
	height: 100%;
	
}

img{
	width: 100%;
	height: 300px;
}

.image_block{
	width: 46%;
	height: 300px;
	float: left;
	margin: 1%;
	
}

.img_square{
	margin: 0 auto;
	display: block;
	height: 100%;
	border-color: solid;	
}


@media screen and (min-width: 0px) and (max-width: 641px){
	.img_circle{
		width: 100%;
		margin: 0;
		height: 100%;
		padding: 0%;
	}
	.image_block{
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}
	
	.img_square{
		width: 100%;
		margin: 0;
		height: 100%;
		padding: 0%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.img_circle{
		width: 100%;
	}
}


/*************************************** END OF IMAGES ***************************************/

/*******************************************BUTTONS  ****************************************/

.submitText{
	position: relative;
	color: red;
	position: relative;
	left: 50%;
	top: 0px;
	
}

.submitManage{
	position: relative;
	left: 0;
}

.logout{
	width: 100px;
	position: relative;
	left: 0%;

}

@media screen and (min-width: 0px) and (max-width: 641px){
	.submitText{
	left: 0;	
	}
}
